{% extends 'blog/basic.html' %}

{% block body %}
<div class="container mt-4">

  <div class="row mb-2">
  {% for items in myposts %}

  <div class="col-md-6">
    <div class="row border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-2 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-primary-emphasis">{{items.head0}}</strong>
        <h3 class="mb-0">{{items.title}}</h3>
        <div class="mb-1 text-body-secondary">Nov 12</div>
        <p class="card-text mb-auto">{{items.head1}}</p>
        <a href="blogpost/{{items.post_id}}" class="icon-link gap-1 icon-link-hover stretched-link">
          Continue reading
          <svg class="bi">
            <use xlink:href="#chevron-right"></use>
          </svg>
        </a>
      </div>
      <div class="col-auto d-none d-lg-block">
        <img src="/media/{{items.thumbnail}}" alt="" srcset="" height="200px" width="200px">
      </div>
    </div>
  </div>

  {% if forloop.counter|divisibleby:2 %}
</div> <div class="row mb-2">
{% endif %}

{% endfor %}
</div>

{% endblock %}