{% extends 'shop/basic.html' %}

{% block title %} Checkout {% endblock %}

{% block body %}

{% load static %}

<div class="container">
  <div class="col my-4">
    <h2>Step 1 - MyShop Express Checkout - Review Your Cart Items</h2>

    <div>
      <ul id="items" class="list-group list-group-numbered">
        <!-- Your Cart Is Empty...! -->
      </ul>
      <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">Your Cart total is<b class="ml-1">Rs.<span id="totalPrice"></span></b>. Thanks for using MyShop</li>
        </ol>
      </nav>
      
    </div>

  </div>

  <div class="col my-4">
    <h2>Step - 2 - Enter Address & Other Details</h2>
    <form class="row g-3" method="post" action="/shop/checkout/">
      {% csrf_token %}
      <input type="hidden" name="itemsJson" id="itemsJson">
      <div class="col-md-6">
        <label for="inputName" class="form-label">Name</label>
        <input type="text" class="form-control" id="inputName" placeholder="Name" name="name">
      </div>
      <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="Email" name="email">
      </div>
      <div class="col-12">
        <label for="inputAddress" class="form-label">Address 1</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" name="address1">
      </div>
      <div class="col-12">
        <label for="inputAddress2" class="form-label">Address 2</label>
        <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor" name="address2">
      </div>
      <div class="col-md-6">
        <label for="inputState" class="form-label">State</label>
        <input type="text" class="form-control" id="inputState" placeholder="State" name="state">
      </div>
      <div class="col-md-4">
        <label for="inputCity" class="form-label">City</label>
        <input type="text" class="form-control" id="inputState" placeholder="City" name="city">
      </div>
      <div class="col-md-2">
        <label for="inputZip" class="form-label">Zip</label>
        <input type="text" class="form-control" id="inputZip" placeholder="834001" name="zip_code">
      </div>
      <div class="col-md-2">
        <label for="inputPphone" class="form-label">Phone</label>
        <input type="phone" class="form-control" id="inputPhone" placeholder="9999999999" name="phone">
      </div>
      <div class="col-12 my-4">
        <button type="submit" class="btn btn-primary">Place Order</button>
        <span class="text-white" id="thank">{{thank}}</span>
      </div>
    </form>
  </div>

</div>

{% endblock %}

{% block js %}

<script>

  // find out the cart items from localStorage
  if (localStorage.getItem('cart') == null) {
    var cart = {};
  }
  else {
    cart = JSON.parse(localStorage.getItem('cart'));
  }

  let sum = 0;
  let totalPrice = 0;
  if ($.isEmptyObject(cart)) {
    mystr = "Your Cart Is Empty...!";
    $('#items').append(mystr);
  }
  else {
    for (item in cart) {
      let qty = cart[item][0];
      let name = cart[item][1];
      let itemPrice = cart[item][2];
      sum = sum + qty;
      totalPrice = totalPrice + qty*itemPrice
      mystr = `<li class="list-group-item d-flex justify-content-between align-items-start">${name}<span class="badge bg-primary rounded-pill">${qty}</span></li>`
      $('#items').append(mystr);
    }

  }

  document.getElementById('cart').innerHTML = sum;
  document.getElementById('totalPrice').innerHTML = totalPrice;

  $('#itemsJson').val(JSON.stringify(cart));

  if (document.getElementById('thank').innerText == 'True'){
    alert('Thanks for ordering with us. Your order id is {{id}}. Use it to track your order');
    localStorage.clear();
    document.location = "/shop";
  }

</script>

{% endblock %}