{% extends 'shop/basic.html' %}

{% block title %} Tracker - MyShop {% endblock %}

{% block body %}

{% load static %}

<div class="container">
  <div class="col my-4">
    <h2>Enter your Order Id and Email address to track your order</h2>
    <form class="row g-3" method="post" action="#" id="trackerForm">
      {% csrf_token %}
      <div class="col-md-6">
        <label for="orderId" class="form-label">Order Id</label>
        <input type="text" class="form-control" id="orderId" placeholder="Order Id" name="orderId">
      </div>

      <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="Email" name="email">
      </div>
      <div class="col-12 my-4">
        <button type="submit" class="btn btn-primary">Track Order</button>
      </div>
    </form>
  </div>

  <div class="col my-4">
    <h2>Your Order Status</h2>
    <div class="my-4">
      <ul id="items" class="p-0">
        Enter your Order Id and Email to track the orders!
      </ul>
    </div>

    <h2>Your Order Details</h2>
    <div class="my-4">
      <ul id="citems" class="p-0">
      </ul>
    </div>

  </div>

</div>

{% endblock %}

{% block js %}

<script>
  $('#trackerForm').submit(function (event) {

    $('#items').empty();
    let = formData = {
      'orderId': $('input[name=orderId]').val(),
      'email': $('input[name=email]').val(),
      'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
    };

    $.ajax({
      type: 'POST',
      url: '/shop/tracker/',
      data: formData,
      encode: true
    })

      .done(function (data) {
        // console.log(data)
        data = JSON.parse(data);
        updates = data[0];
        if (updates.length > 0 & updates != {}) {
          for (i = 0; i < updates.length; i++) {
            let text = updates[i]['text']
            let time = updates[i]['time']

            mystr = `<li class="list-group-item d-flex justify-content-between align-items-start">${text}<span class="badge bg-primary rounded-pill">${time}</span></li>`
            $('#items').append(mystr);
          }
        } else {
          mystr = `<li class="list-group-item d-flex justify-content-between align-items-start">Sorry! We are unable to fetch this order. Please make sure to enter correct Order Id and Email...`
          $('#items').append(mystr);
        }

        // Fill in the order details
        cart = JSON.parse(data[1]);
        console.log(cart);
        for (item in cart) {
      let qty = cart[item][0];
      let name = cart[item][1];
      mystr = `<li class="list-group-item d-flex justify-content-between align-items-start">${name}<span class="badge bg-primary rounded-pill">${qty}</span></li>`
      $('#citems').append(mystr);
    }

      });

    event.preventDefault();

  });
</script>

{% endblock %}